{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <p class="card-text">SCP stands for Secure, Contain and Protect. The website is full of hundreds of crowd-sourced entries about objects and strange entities that violate natural law. The SCP Foundation is the organisation tasked with keeping them contained.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>    
        </div>       
    </div>
{% endblock %}