{% extends "blog/base.html" %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card bg-secondary text-light border-light shadow-lg">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-danger"><i class="fa fa-lock me-2"></i>About the SCP Foundation</h5>
            <p class="card-text">
              SCP stands for <strong>Secure, Contain, Protect</strong>. The website is filled with hundreds of crowd-sourced entries about objects and strange entities that violate natural law. The SCP Foundation is the organization tasked with keeping them contained.
            </p>
            <div class="d-flex justify-content-between">
              <a href="#" class="card-link text-warning"><i class="fa fa-link me-1"></i>Card link</a>
              <a href="#" class="card-link text-warning"><i class="fa fa-external-link me-1"></i>Another link</a>
            </div>
          </div>
        </div>
      </div>    
    </div>       
  </div>
{% endblock %}
